*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
nav{
    display: flex;
    gap: 4rem;
    padding: 10px 0 8px 270px;
    border-bottom: 1px solid gray;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}
.insta-logo img{
    width: 150px;
    color: black;

}
input{
    background-color: rgb(214, 211, 211);
    border-radius: 8px;
    font-size: 12;
    padding: 10px;
}
.icons{
    display: flex;
    gap: 1.5rem;
    padding: 10px;
}
.icons i{
    font-size: 25px;
}
.icons img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.container{
    display: flex;
    padding: 30px 30px 30px 140px;
    gap: 0.3rem;
    width: 90.5%;
    margin-top: 80px ;

}
.stories{
    display: flex;
    gap: 8px;
    width: 88%;
    padding: 20px 0 20px 20px;
    border: 1px solid gray;
    border-radius: 12px;
    text-align: center;
}
.pple{
    display: flex;
    flex-direction: column;
    font-size: 10px;
}
.pple img{
    width: 70px;
    height: 70px;
    border: 3px solid rgb(255, 115, 139);
    border-radius: 50px;
    
}
.mee{
    display: flex;
   justify-content: space-between;
}
.mee img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
}
.mee .name{
    line-height: 4px;
    padding-top: 5px;
}
.mee .fade{
    color: rgb(177, 165, 165);
}
.mee .blue{
    color: blue;
}
.suggestions{
    display: flex;
    justify-content: space-between;
}
.suggestions .for-you{
    color: rgb(177, 165, 165);
}
.follow{
    display: flex;
    justify-content: space-between;
}
.space{
    display: flex;
    gap: 1rem;
}
.followers img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.followers  .fade{
    color: rgb(177, 165, 165);
}
.followers  .blue{
    color: blue;
}
.followers  .name{
    line-height: 4px;
    padding-top: 5px;
}
/* .fadee{display: inline-block;} */
.fadee a{
    text-decoration: none;
    color: rgb(177, 165, 165);
}
.fadee ul{
    display: flex;
    gap: 2px;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    text-align: center;
    color: white;
}
.fadee p{
    color: rgb(177, 165, 165);
}
.post{
    display: flex;
    width: 88%;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 12px;
    padding: 20px;
    margin: 20px 0;
}
.insta{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}
.insta div{
    display: flex;
}
.insta img{
    width: 45px;
    border-radius: 50px;
}
.comments{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid gray;
    padding-top: 10px;
}
.comments .heart{
    display: flex;
    gap: 1rem;
}
.comments i{
    font-size: 25px
}
.comment{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid gray;
}
.comment .emoji{
    display: flex;
    gap: 1rem;
}
.comment i{
    padding-top: 15px;
    font-size: 25px;
}
a{
    text-decoration: none;
    color: black;
}
.comment .blue{
    color: rgba(0, 0, 255, 0.5);
}